asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
colorama==0.4.3
dj-database-url==0.5.0
Django==3.1.14
django-cors-headers==3.4.0
django-heroku==0.3.1
flake8==3.8.3
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mypy==0.782
mypy-extensions==0.4.3
psycopg2==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.2
wadofstuff-django-serializers==1.1.0
whitenoise==5.2.0
wrapt==1.12.1
