{% extends 'funcionarios/list.html' %}
{% load static %}

{% block css %}
    <style>
        .bootstrapWizard li {
            width: 20% !important;
        }
    </style>
{% endblock css %}
    
{% block breadcrumb %}
<li>Configurações</li>
<li>Cadastros</li>
<li>Funcionários</li>
<li>Instrutores de Pilates</li>

{% if object %}
<li><strong>{{ object.funcionario.nome_completo }}</strong></li>
<li>Editar</li>
{% else %}
<li><strong>Adicionar</strong></li>
{% endif %}
{% endblock breadcrumb %}

{% block conteudo %}

{% for field in form %}
{% if field.errors %}
<div class="row padding-10">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ field.html_name|upper }}</strong>:
        <br>
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endif %}
{% endfor %}

<!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
                data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false"
                data-widget-sortable="false">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->
                <header>
                    <h2>

                        {% if object %}
                        Editar Instrutor de Pilates {{ object.funcionario.nome_completo }}
                        {% else %}
                        Adicionar Instrutor de Pilates
                        {% endif %}

                    </h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body">

                        <div class="row">
                            <form enctype="multipart/form-data" id="wizard-1" method="post">{% csrf_token %}
                                <div id="bootstrap-wizard-1" class="col-sm-12">
                                    <div class="form-bootstrapWizard">
                                        <ul class="bootstrapWizard form-wizard">
                                            <li data-target="#step1">
                                                <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span
                                                        class="title">Dados de Acesso</span> </a>
                                            </li>
                                            <li data-target="#step2">
                                                <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span
                                                        class="title">Dados Pessoais</span> </a>
                                            </li>
                                            <li data-target="#step3">
                                                <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span
                                                        class="title">Endereço</span> </a>
                                            </li>
                                            <li data-target="#step4">
                                                <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span
                                                        class="title">Dados Profissionais</span> </a>
                                            </li>
                                            <li data-target="#step5">
                                                <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span
                                                        class="title">Conclusão</span> </a>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <br>
                                            <h3><strong>1ª Etapa </strong> - Dados de acesso ao sistema</h3>

                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Login</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-user fa-fw"></i></span>
                                                            {{ form.nome_usuario }}

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-envelope fa-fw"></i></span>
                                                            {{ form.email }}
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                            {% if not object %}

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Senha</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-lock fa-fw"></i></span>
                                                            {{ form.senha }}

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Confirmar Senha</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-lock fa-fw"></i></span>
                                                            {{ form.confirmar_senha }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <br>
                                            <h3><strong>3ª Etapa</strong> - Dados Pessoais</h3>

                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Nome</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-user fa-fw"></i></span>
                                                            {{ form.nome }}

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Sobrenome</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-user fa-fw"></i></span>
                                                            {{ form.sobrenome }}
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>CPF</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-credit-card fa-fw"></i></span>
                                                            {{ form.cpf }}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Data de Nascimento</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-gift fa-fw"></i></span>
                                                            {{ form.nascimento }}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Data de Contratação</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-briefcase fa-fw"></i></span>
                                                            {{ form.contratacao }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Telefone</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-phone fa-fw"></i></span>
                                                            {{ form.telefone1}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Outro Telefone</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-mobile fa-fw"></i></span>
                                                            {{ form.telefone2}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div {% if not object %} class="col-sm-4" {% else %} class=col-sm-6
                                                    {% endif %}>
                                                    <div class="form-group">
                                                        <label>Estado Civil</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-heart fa-fw"></i></span>
                                                            {{ form.estado_civil}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div {% if not object %} class="col-sm-4" {% else %} class=col-sm-6
                                                    {% endif %}>
                                                    <div class="form-group">
                                                        <label>Gênero</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-group fa-fw"></i></span>
                                                            {{ form.genero}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if not object %}
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Foto</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-camera fa-fw"></i></span>
                                                            {{ form.foto}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <br>
                                            <h3><strong>3ª Etapa</strong> - Endereço</h3>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Endereço</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-road fa-fw"></i></span>
                                                            {{ form.endereco }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Complemento</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-map-marker fa-fw"></i></span>
                                                            {{ form.complemento }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Número</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-slack fa-fw"></i></span>
                                                            {{ form.numero }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Bairro</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-th-large fa-fw"></i></span>
                                                            {{ form.bairro }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Cidade</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-map-marker fa-fw"></i></span>
                                                            {{ form.cidade }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Estado</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-flag fa-fw"></i></span>
                                                            {{ form.uf }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane active" id="tab4">
                                            <br>
                                            <h3><strong>4ª Etapa </strong> - Dados Profissionais</h3>

                                            <div class="row">

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Conselho Regulamentador</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-bank fa-fw"></i></span>
                                                            {{ form.conselho }}

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Registro</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-slack fa-fw"></i></span>
                                                            {{ form.registro }}
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Cursos</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i
                                                                    class="fa fa-bank fa-fw"></i></span>
                                                            {{ form.cursos }}
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab5">
                                            <br>
                                            <h3><strong>5ª Etapa</strong> - Salvar Dados</h3>
                                            <br>
                                            <h1 class="text-center text-success"><strong><i
                                                        class="fa fa-check fa-lg"></i> Tudo OK!</strong></h1>
                                            <h4 class="text-center">Agora clique em Enviar</h4>
                                            <br>
                                            <br>
                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <ul class="pager wizard no-margin">
                                                        <li class="pull-left">
                                                            <a href="{% url 'funcionarios:funcionario_lista' %}"
                                                                class="btn btn-lg btn-default"> Sair </a>
                                                        </li>&nbsp;
                                                        <li class="previous disabled">
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-lg btn-default"> Anterior </a>
                                                        </li>
                                                        <li class="next">
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-lg txt-color-darken"> Próximo </a>
                                                        </li>
                                                        <li class="finish">
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-lg btn-success"> Enviar </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

{% endblock conteudo %}

{% block js_plugins %}
<script src="{% static 'js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-validate/additional-methods.min.js' %}"></script>
<script src="{% static 'js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrapvalidator/bootstrapValidator.min.js' %}"></script>

<script>
    $(function () {
        //Bootstrap Wizard Validations

        $('#id_usuario').focus();

        var $validator = $("#wizard-1").validate({

            rules: {
                nome_usuario: {
                    required: true,
                    minlength: 5,
                },
                email: {
                    required: true,
                    email: "Seu endereço de email deve ser no formato nome@dominio.com"
                },
                nome: {
                    required: true,
                    minlength: 5
                },
                sobrenome: {
                    required: true,
                    minlength: 5
                },
                senha: {
                    required: true,
                    minlength: 8
                },
                confirmar_senha: {
                    required: true,
                    equalTo: "#id_senha",
                    minlength: 8
                },
                usuario: {
                    required: true,
                    maxlength: 150,
                    minlength: 6
                },
                telefone1: {
                    required: true,
                    minlength: 10
                },
                cpf: {
                    required: true,
                    minlength: 14
                },
                nascimento: {
                    required: true,

                },
                contratacao: {
                    required: true,
                },
                foto: {
                    required: true,
                    extension: "png|jpg|jpeg|bmp",
                },
                conselho: {
                    required: true,
                },
                registro: {
                    required: true,
                },
            },

            messages: {
                nome_usuario: {
                    required: "Por favor, preencha o campo de Login",
                    minlength: "Por favor, preencha com pelo menos 5 caracteres"
                },
                nome: {
                    required: "Por favor, preencha com seu nome",
                    minlength: "Por favor, preencha com pelo menos 5 caracteres"
                },
                sobrenome: {
                    required: "Por favor, preencha com seu sobrenome",
                    minlength: "Por favor, preencha com pelo menos 5 caracteres",
                },
                email: {
                    required: "Por favor, preencha com seu  email",
                    email: "Seu endereço de email deve ser no formato nome@dominio.com"
                },
                senha: {
                    required: "Por favor, preencha com sua senha",
                    minlength: "Por favor, preencha com pelo menos 8 caracteres",
                },
                confirmar_senha: {
                    required: "Por favor, repita a senha anterior",
                    equalTo: "As senhas precisam ser as mesmas",
                    minlength: "Por favor, preencha com pelo menos 8 caracteres"
                },
                usuario: {
                    required: "Por favor, preencha com seu login. Letras, números e @/./+/-/_ apenas.",
                    maxlength: "150 caracteres ou menos. Letras, números e @/./+/-/_ apenas.",
                    minlength: "Por favor, preencha com pelo menos 6 caracteres"
                },
                telefone1: "Por favor, preencha com seu telefone",
                cpf: "Por favor, preencha com seu CPF",
                nascimento: "Por favor, preencha com a sua data de nascimento",
                contratacao: "Por favor, preencha com a sua data de contratacao",
                foto: {
                    required: "Por favor, selecione um arquivo de seu computador",
                    extension: "Apenas arquivos no formato .png, .jpg, .jpeg e .bmp"
                },
                conselho: {
                    required: "Por favor, selecione o conselho regulamentador"
                },
                registro: {
                    required: "Por favor, preencha com seu registro"
                },
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#bootstrap-wizard-1').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function (tab, navigation, index) {
                var $valid = $("#wizard-1").valid();
                if (!$valid) {
                    $validator.focusInvalid();
                    console.log("Formulário inválido");
                    return false;
                } else {
                    $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass(
                        'complete');
                    $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step')
                        .html('<i class="fa fa-check"></i>');

                }
            },
            "onTabShow": function (tab, navigation, index) {
                if (index == 0)
                    $('#id_nome_usuario').focus();
                else if (index == 1)
                    $('#id_nome').focus();
                else if (index == 2)
                    $('#id_endereco').focus();
                else if (index == 3)
                    $('#id_conselho').focus();
            },
            "onTabClick": function (tab, navigation, index) {
                return false;
            },
            "onFinish": function (tab, navigation, index) {
                $("#wizard-1").submit();
            }
        });
    });
</script>
{% endblock js_plugins %}