{% extends 'base.html' %}
{% load static %}

{% block navegacao %}
<ul>
    <li class="" id="nav-inicio">
        <a href="/" title="Página Inicial"><i class="fa fa-lg fa-fw fa-home"></i>
            <span class="menu-item-parent"> Início</span>
        </a>
    </li>
    <li id="nav-caixa">
        <a href="#" title="Movimentação do Caixa"><i class="fa fa-lg fa-fw fa-money"></i>
            <span class="menu-item-parent"> Caixa</span>
        </a>
    </li>
    <li id="nav-pacientes">
        <a href="{% url 'pacientes:paciente_list' %}" title="Lista de Pacientes"><i class="fa fa-lg fa-fw fa-group"></i>
            <span class="menu-item-parent"> Pacientes</span>
        </a>
    </li>
    <li id="nav-fisioterapia">
        <a href="#" title="Pacientes de Fisioterapia"><i class="fa fa-lg fa-fw fa-wheelchair"></i>
            <span class="menu-item-parent">Fisioterapia</span>
        </a>
    </li>
    <li id="nav-estetica">
        <a href="#" title="Pacientes de Estética"><i class="fa fa-lg fa-fw fa-star-o"></i>
            <span class="menu-item-parent">Estética</span>
        </a>
    </li>
    <li id="nav-pilates">
        <a href="#" title="Turmas de Pilates"><i class="fa fa-lg fa-fw fa-child"></i>
            <span class="menu-item-parent">Pilates</span>
        </a>
    </li>
    <li id="nav-config" class="active open">
        <a href="#" title="Configurações"><i class="fa fa-lg fa-fw fa-gears"></i>
            <span class="menu-item-parent">Configurações</span>
        </a>
        <ul style="display:block;">
            <li class="active open">
                <a href="#"><i class="fa fa-fw fa-pencil-square-o"></i> Cadastros</a>
                <ul style="display:block;">
                    <li class="active">
                        <a href="{% url 'clinica:pacote_lista' %}">
                            <i class="fa fa-fw fa-dropbox"></i> Pacotes
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'clinica:procedimento_lista' %}">
                            <i class="fa fa-fw fa-flash"></i> Procedimentos
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'clinica:convenio_lista' %}">
                            <i class="fa fa-fw fa-medkit"></i> Convênios
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'funcionarios:funcionario_lista' %}">
                            <i class="fa fa-fw fa-user"></i> Funcionarios
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul>
{% endblock navegacao %}

{% block breadcrumb %}
<li>Configurações</li>
<li>Cadastros</li>
<li>Pacotes</li>
<li><strong>{{ object }}</strong></li>
{% endblock breadcrumb %}


{% block cabecalho %}
<i class="fa-fw fa fa-cog"></i>
Configuraçãoes <span> > Cadastros > Pacotes </span>
{% endblock cabecalho %}


{% block conteudo %}

<!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget well" id="wid-id-0" data-widget-editbutton="false" data-widget-togglebutton="false"
                data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <ul id="widget-tab-1" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-tasks"></i> <span
                                        class="hidden-mobile hidden-tablet">
                                        Procedimentos </span></a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-sliders"></i> <span
                                        class="hidden-mobile hidden-tablet"> Detalhes </span></a>
                            </li>
                        </ul>
                        <div class="tab-content padding-10">
                            <div class="tab-pane fade in active" id="hr1">
                                <div class="row">
                                    <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                                        <h2>
                                            Procedimentos do Pacote
                                        </h2>
                                    </div>
                                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                                        <a href="#" class="btn btn-primary btn-md">Adicionar Procedimento</a>
                                    </div>
                                </div>
                                <hr class="simple">
                                <table class="table table-striped table-bordered table-hover dt_basic">
                                    <thead>
                                        <th class="text-center"><i
                                                class="fa fa-fw fa-medkit text-muted hidden-md hidden-sm hidden-xs"></i>
                                            Nome</th>
                                        <th class="text-center"><i
                                                class="fa fa-fw fa-wheelchair text-muted hidden-md hidden-sm hidden-xs"></i>
                                            Tipo de
                                            Tratamento</th>
                                        <th class="text-center"><i
                                                class="fa fa-fw fa-comments text-muted hidden-md hidden-sm hidden-xs"></i>
                                            Descrição
                                        </th>
                                        <th class="text-center">
                                            <i class="fa fa-fw fa-flash text-muted hidden-md hidden-sm hidden-xs"></i>
                                            Ações
                                        </th>
                                    </thead>
                                    <tbody>
                                        {% for item in object.pacoteprocedimento_set.all %}
                                        <tr>
                                            <td><strong>{{ item.procedimento.nome }}</strong></td>
                                            <td><strong>{{ item.procedimento.tipo }}</strong></td>
                                            <td><strong>{{ item.procedimento.descricao|truncatechars:40 }}</strong></td>
                                            <td class="text-center">
                                                <a href="" class="btn btn-sm btn-danger deletar">
                                                    <i class="fa fa-trash-o"></i> Excluir
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade in" id="hr2">
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

{% endblock conteudo %}


{% block js_plugins %}
<script src="{% static 'js/plugin/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/dataTables.colVis.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'js/plugin/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugin/datatable-responsive/datatables.responsive.min.js' %}"></script>

<script>

    $(document).ready(function () {

        $tb2 = $('.dt_basic').dataTable({
            "autoWidth": false,
            "responsive": true,
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('.data-dt_basic:visible').each(function (e) {
                $(this).DataTable().columns.adjust().responsive.recalc();
            });
        });
    });

</script>
{% endblock js_plugins %}