{% extends 'clinica/pacote/list.html' %}
{% load static %}

{% block breadcrumb %}
<li>Configurações</li>
<li>Cadastros</li>
<li>Pacotes</li>

{% if object %}
<li><strong>{{ object.nome }}</strong></li>
<li>Editar</li>
{% else %}
<li><strong>Adicionar</strong></li>
{% endif %}
{% endblock breadcrumb %}

{% block conteudo %}
{% for field in form %}
{% if field.errors %}
<div class="row padding-10">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ field.html_name|upper }}</strong>:
        <br>
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endif %}
{% endfor %}
<!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
                data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false"
                data-widget-sortable="false">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->
                <header>
                    <h2>

                        {% if object %}
                        Editar Pacote {{ object.nome }}
                        {% else %}
                        Adicionar Pacote
                        {% endif %}

                    </h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="tab-content padding-10">
                            <form action="" method="POST" class="smart-form">{% csrf_token %}
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Nome do Pacote</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-dropbox"></i>
                                                {{ form.nome }}
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Valor</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-money"></i>
                                                {{ form.valor }}
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label class="label">Tipo</label>
                                            <label class="select">
                                                {{ form.tipo }}
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label class="label">Descrição</label>
                                            <label class="textarea">
                                                {{ form.descricao }}
                                                <i class="icon-append fa fa-comment text-align-right"></i>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="label">Promoção</label>
                                            <label class="toggle">
                                                {{ form.promocao }}
                                                <i data-swchon-text="Sim" data-swchoff-text="Não"></i>Realizar
                                                Promoção</label>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Início</label>
                                            <label class="input" id="lblInicio">
                                                <i class="icon-append fa fa-calendar"></i>
                                                {{ form.inicio }}
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Término</label>
                                            <label class="input" id="lbltermino">
                                                <i class="icon-append fa fa-calendar"></i>
                                                {{ form.termino }}
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="label">Status</label>
                                            <label class="select">
                                                {{ form.status }}
                                                <i></i>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>

                                <footer>
                                    <input class="btn btn-primary" type="submit" value="Salvar">
                                    <a href="{% url 'clinica:pacote_lista' %}" class="btn btn-default">Voltar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

{% endblock conteudo %}

{% block js_plugins %}
<script>
    $(function () {
        $('#id_nome').focus()
        dateFormat = 'dd/mm/yy';
        var from = $('#id_inicio').datepicker({
            dateFormat: dateFormat,
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Proximo',
            prevText: 'Anterior',
            changeMonth: true,
            numberOfMonths: 2,
        }).on("change", function () {
            to.datepicker("option", "minDate", getDate(this));
        }),
            to = $('#id_termino').datepicker({
                dateFormat: dateFormat,
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Proximo',
                prevText: 'Anterior',
                changeMonth: true,
                numberOfMonths: 2,
            }).on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>

{% if not object %}
<script>
    document.getElementById('lblInicio').classList.add("state-disabled");
    document.getElementById('lbltermino').classList.add("state-disabled");
    document.getElementById('id_inicio').disabled = true;
    document.getElementById('id_termino').disabled = true;
</script>
{% endif %}

<script language="javascript">
    function teste2(obj) {
        if (obj.checked == true) {
            document.getElementById('lblInicio').classList.remove("state-disabled");
            document.getElementById('lbltermino').classList.remove("state-disabled");
            document.getElementById('id_inicio').disabled = false;
            document.getElementById('id_termino').disabled = false;
            document.getElementById('id_inicio').focus();
        }
        else {
            document.getElementById('lblInicio').classList.add("state-disabled");
            document.getElementById('lbltermino').classList.add("state-disabled");
            document.getElementById('id_inicio').disabled = true;
            document.getElementById('id_termino').disabled = true;
            document.getElementById('id_inicio').value = ""
            document.getElementById('id_termino').value = ""
        }
    }
</script>
{% endblock js_plugins %}