{% extends 'clinica/pacote/list.html' %}
{% load static %}

{% block breadcrumb %}
<li>Configurações</li>
<li>Cadastros</li>
<li>Pacotes</li>
<li><strong>{{ object.nome }}</strong></li>
<li>Editar</li>
{% endblock breadcrumb %}

{% block conteudo %}

<style>
    .tooltip.in {
        opacity: .9;
    }
</style>

{% for field in form %}
{% if field.errors %}
<div class="row padding-10">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ field.html_name|upper }}</strong>:
        <br>
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endif %}
{% endfor %}
<!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
                data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false"
                data-widget-sortable="false">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->
                <header>
                    <h2>
                        Adicionar Procedimento
                    </h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="tab-content padding-10">
                            <form action="" method="POST" class="smart-form">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Procedimento</label>
                                            <label class="select">
                                                <select name="procedimento" id="id_procedimento">
                                                    {% for procedimento in procedimentos  %}
                                                    <option value="{{ procedimento.id }}">
                                                        {{ procedimento }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-4">
                                            <label>Quantidade</label>
                                            <input type="text" name="quantidade" class="slider slider-primary"
                                                id="id_quantidade" value="1" data-slider-min="1" data-slider-max="20"
                                                data-slider-value="1" data-slider-selection="before"
                                                data-slider-handle="round" data-slider-tooltip="show">
                                        </section>
                                    </div>
                                </fieldset>

                                <footer>
                                    <input class="btn btn-primary" type="submit" value="Salvar">
                                    <a href="{% url 'clinica:pacote_detalhes' object.id %}"
                                        class="btn btn-default">Voltar</a>
                                </footer>
                                <input type="hidden" name="pacote" value="{{ object.id }}">
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

{% endblock conteudo %}

{% block js_plugins %}
<script src="{% static 'js/plugin/maxlength/bootstrap-maxlength.min.js' %}"></script>
{% endblock js_plugins %}