{% extends 'clinica/convenio/list.html' %}
{% load static %}

{% block breadcrumb %}
    <li>Configurações</li>
    <li>Cadastros</li>
    <li><strong>Convênios</strong></li>
{% endblock breadcrumb %}


{% block cabecalho %}
    <i class="fa-fw fa fa-cog"></i>
    Configuraçãoes <span> > Cadastros > Convênios </span>
{% endblock cabecalho %}
    

{% block conteudo %}
        
    <!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->
    
    <!-- widget grid -->
    <section id="widget-grid" class="">
    
        
        <!-- row -->
        <div class="row">
            <div class="tab-content padding-10">
                <form action="" method="POST">{% csrf_token %}
                    <div class="alert alert-block alert-warning alert-dismissible" role="alert">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                        <h4 class="alert-heading">Alerta</h4>
                        Tem certeza que deseja excluir <strong>{{ object }}</strong>?
                        <p class="text-align-left">
                            <br>
                            <input type="submit" value="Confirmar" class="btn btn-warning">
                            <a href="{% url 'clinica:convenio_lista' %}" class="btn btn-default  ">Voltar</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- end row -->
    
    </section>
    <!-- end widget grid -->

{% endblock conteudo %}
