{% extends 'clinica/convenio/list.html' %}
{% load static %}

{% block breadcrumb %}
    <li>Configurações</li>
    <li>Cadastros</li>
    <li>Convênios</li>
    
    {% if object %}
        <li><strong>{{ object.nome }}</strong></li>
        <li>Editar</li>
    {% else %}
        <li><strong>Adicionar</strong></li>
    {% endif %}
{% endblock breadcrumb %}

{% block conteudo %}
	
    <!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->
    
    <!-- widget grid -->
    <section id="widget-grid" class="">
    
        <!-- row -->
        <div class="row">
            
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->
                    <header>
                        <h2>
                        
                        {% if object %}
                            Editar Convênio {{ object.nome }}    
                        {% else %}
                            Adicionar Convênio
                        {% endif %}
                            
                        </h2>
                    </header>

                    <!-- widget div-->
                    <div>
                                            
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="tab-content padding-10">
                            <form action="" method="POST" class="smart-form">{% csrf_token %}
                                <fieldset>
                                    <section class="col col-6">
                                        <label class="input">
                                            <i class="icon-prepend fa fa-medkit"></i>
                                            <input type="text" name="nome" id="id_nome" value="{{ object.nome }}" maxlength="200" placeholder="Nome do convênio">
                                        </label>
                                    </section>
                                    <section class="col col-6">
                                        <label class="select">
                                            {{ form.status }}
                                            <i></i>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input class="btn btn-primary" type="submit" value="Atualizar">
                                    
                                </footer>
                            </form>
                        </div>                        
                        </div>
                        <!-- end widget content -->
                        
                    </div>
                    <!-- end widget div -->
                    
                </div>
                <!-- end widget -->
    
            </article>
            <!-- WIDGET END -->
            
        </div>
    
        <!-- end row -->
    
    </section>
    <!-- end widget grid -->

{% endblock conteudo %}

{% block js_plugins %}
    <script>
        $(function(){
            $('#id_nome').focus()
        })
    </script>
{% endblock js_plugins %}
    