{% extends 'pacientes/list.html' %}
{% load static %}

{% block breadcrumb %}
<li>Configurações</li>
<li>Cadastros</li>
<li>Pacientes</li>

{% if object %}
<li><strong>{{ object.nome }}</strong></li>
<li>Editar</li>
{% else %}
<li><strong>Adicionar</strong></li>
{% endif %}
{% endblock breadcrumb %}

{% block conteudo %}
{% for field in form %}
{% if field.errors %}
<div class="row padding-10">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ field.html_name|upper }}</strong>:
        <br>
        <ul>
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endfor %}
<!--
        The ID "widget-grid" will start to initialize all widgets below 
        You do not need to use widgets if you dont want to. Simply remove 
        the <section></section> and you can use wells or panels instead 
        -->

<!-- widget grid -->
<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-teal" id="wid-id-0" data-widget-editbutton="false"
                data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-custombutton="false"
                data-widget-sortable="false">
                <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        
                        data-widget-colorbutton="false"	
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true" 
                        data-widget-sortable="false"
                        
                    -->
                <header>
                    <h2>

                        {% if object %}
                        Editar Paciente {{ object.nome }}
                        {% else %}
                        Adicionar Paciente
                        {% endif %}

                    </h2>
                </header>

                <!-- widget div-->
                <div>

                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="tab-content padding-10">
                            <form action="" method="POST" class="form-horizontal">{% csrf_token %}
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class=""><strong>Nome</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user fa-fw"></i>
                                                    </span>
                                                    {{ form.nome }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label><strong>Sobrenome</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user fa-fw"></i>
                                                    </span>
                                                    {{ form.sobrenome }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label><strong>CPF</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-credit-card fa-fw"></i>
                                                    </span>
                                                    {{ form.cpf }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label><strong>Data de Nascimento</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar fa-fw"></i>
                                                    </span>
                                                    {{ form.nascimento }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label><strong>Gênero</strong></label>
                                                <div class="icon-addon addon-md">
                                                    {{ form.genero }}
                                                    <label for="genero" class="fa fa-crosshairs" rel="tooltip"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label><strong>Estado Civil</strong></label>
                                                <div class="icon-addon addon-md">
                                                    {{ form.estado_civil }}
                                                    <label for="estado_civil" class="fa fa-book" rel="tooltip"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-2">
                                            <div class="form-group">
                                                <label><strong>Telefone 1</strong> </label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-mobile fa-fw"></i>
                                                    </span>
                                                    {{ form.telefone1 }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-2">
                                            <div class="form-group">
                                                <label><strong>Telefone 2</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-phone fa-fw"></i>
                                                    </span>
                                                    {{ form.telefone2 }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label><strong>Profissão</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-graduation-cap fa-fw"></i>
                                                    </span>
                                                    {{ form.profissao }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label><strong>Endereço</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-map-marker fa-fw"></i>
                                                    </span>
                                                    {{ form.endereco }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label><strong>Complemento</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-home fa-fw"></i>
                                                    </span>
                                                    {{ form.complemento }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-md-2">
                                            <div class="form-group">
                                                <label><strong>Número</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-slack fa-fw"></i>
                                                    </span>
                                                    {{ form.numero }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label><strong>Bairro</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-th-large fa-fw"></i>
                                                    </span>
                                                    {{ form.bairro }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label><strong>Cidade</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-picture-o fa-fw"></i>
                                                    </span>
                                                    {{ form.cidade }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label><strong>Esdado</strong></label>
                                                <div class="icon-addon addon-md">
                                                    {{ form.uf }}
                                                    <label for="uf" class="fa fa-flag" rel="tooltip"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label><strong>Email</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope fa-fw"></i>
                                                    </span>
                                                    {{ form.email }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Diabetes</strong></label>
                                                <div class="checkbox">
                                                    <label>
                                                        {{ form.diabetes }}
                                                        <span>Possui diabetes?</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label"><strong>Hipertensão</strong></label>
                                                <div class="checkbox">
                                                    <label>
                                                        {{ form.hipertensao }}
                                                        <span>Possui hipertensão?</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label><strong>Altura</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-child fa-fw"></i>
                                                    </span>
                                                    {{ form.altura }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label><strong>Peso</strong></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-tachometer fa-fw"></i>
                                                    </span>
                                                    {{ form.peso }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <label><strong>Observações</strong></label>
                                                    {{ form.observacoes }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>
									    Contatos
                                    </legend>
                                    {{ contato_formset.management_form }}
                                    {{ contato_formset.non_form_errors }}
                                    {% for cform in contato_formset %}
                                        {% for hidden in cform.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                        {% for field in cform %}
                                        {% if field.errors %}
                                        <div class="row padding-10">
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong class="field_error">{{ field.html_name|upper }}</strong>:
                                                <br>
                                                <ul>
                                                    {% for error in field.errors %}
                                                    <li>{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col-sm-6 col-md-3">
                                                <div class="form-group">
                                                    <label><strong>Nome</strong> </label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user fa-fw"></i>
                                                        </span>
                                                        {{ cform.nome }}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if cform.instance.pk %}
                                                <div class="col-sm-6 col-md-2">
                                            {% else %}
                                                <div class="col-sm-6 col-md-3">
                                            {% endif %}
                                                <div class="form-group">
                                                    <label><strong>Telefone 1</strong> </label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-mobile fa-fw"></i>
                                                        </span>
                                                        {{ cform.telefone1 }}
                                                    </div>
                                                </div>
                                            </div>
                                            {% if cform.instance.pk %}
                                                <div class="col-sm-6 col-md-2">
                                            {% else %}
                                                <div class="col-sm-6 col-md-3">
                                            {% endif %}
                                                <div class="form-group">
                                                    <label><strong>Telefone 2</strong></label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-phone fa-fw"></i>
                                                        </span>
                                                        {{ cform.telefone2 }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% if cform.instance.pk %}
                                                <div class="col-sm-6 col-md-2">
                                            {% else %}
                                                <div class="col-sm-6 col-md-3">
                                            {% endif %}
                                                <div class="form-group">
                                                    <label><strong>Email</strong></label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope fa-fw"></i>
                                                        </span>
                                                        {{ cform.email }}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% if cform.instance.pk %}
                                                <div class="col col-sm-1"></div>
                                                <div class="col col-sm-2">
                                                    <div class="form-group">
                                                        <label class="control-label"><strong>Excluir</strong></label>
                                                        <div class="checkbox">
                                                            <label>
                                                                {{ cform.DELETE }}
                                                                <span>Excluir Contato?</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success" type="submit" name="_salvar"><i class="fa fa-save"></i> Salvar</button>
                                            <button class="btn btn-primary" type="submit" name="_continue"><i class="fa fa-save"></i> Salvar e continuar editando</button>
                                            <a href="{% url 'pacientes:paciente_list' %}" class="btn btn-default">Voltar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->

{% endblock conteudo %}

{% block js_plugins %}
<script src="{% static 'js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/plugin/jquery-validate/additional-methods.min.js' %}"></script>
<script src="{% static 'js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/plugin/bootstrapvalidator/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'js/plugin/summernote/summernote.min.js' %}"></script>
<script src="{% static 'js/plugin/summernote/lang/summernote-pt-BR.js' %}"></script>
<script>
    $(function () {
        //$('#id_nome').focus();
        $('.field_error').each(function () {
            var x = $(this).html()
            $(this).html(x.substring(14))
        });
        $('textarea[name="observacoes"]').summernote({
            focus: true,
            dialogsInBody: true,
            lang: 'pt-BR',
            maximumImageFileSize: 1048576, // tamanho máximo da imagem
        });

        $('input[name="telefone1"], input[name="telefone2"]')
            .mask("(99) 9999-9999?9")
            .focusout(function (event) {
                var target, phone, element;
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                phone = target.value.replace(/\D/g, '');
                element = $(target);
                element.unmask();
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            });
        
        $('input[name="cpf"]').mask("999.999.999-99");
        $('input[name="nascimento"]').mask("99/99/9999");

        dateFormat = 'dd/mm/yy';
        var from = $('#id_nascimento').datepicker({
            dateFormat: dateFormat,
            dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
            dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
            monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            nextText: 'Proximo',
            prevText: 'Anterior',
            changeMonth: true,
            changeYear: true,
        });
        
        jQuery.validator.addMethod("cpf", function (value, element) {
            value = jQuery.trim(value);
            value = value.replace('.', '');
            value = value.replace('.', '');
            cpf = value.replace('-', '');
            while (cpf.length < 11) cpf = "0" + cpf;
            var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
            var a = [];
            var b = new Number;
            var c = 11;
            for (i = 0; i < 11; i++) {
                a[i] = cpf.charAt(i);
                if (i < 9) b += (a[i] * --c);
            }
            if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11 - x }
            b = 0;
            c = 11;
            for (y = 0; y < 10; y++) b += (a[y] * c--);
            if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11 - x; }

            var retorno = true;
            if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;

            return this.optional(element) || retorno;

        }, "Informe um CPF válido");


        $("form").validate({
            rules: {
                email: {
                    required: false,
                    email: "Seu endereço de email deve ser no formato nome@dominio.com"
                },
                nome: {
                    required: true,
                    minlength: 5
                },
                sobrenome: {
                    required: true,
                    minlength: 5
                },
                telefone1: {
                    required: true,
                    minlength: 10
                },
                cpf: {
                    cpf: true,
                    required: true,
                    minlength: 14
                },
                nascimento: {
                    required: true,

                },
                contratacao: {
                    required: true,
                },
            },
            messages: {
                nome: {
                    required: "Por favor, preencha com seu nome",
                    minlength: "Por favor, preencha com pelo menos 5 caracteres"
                },
                sobrenome: {
                    required: "Por favor, preencha com seu sobrenome",
                    minlength: "Por favor, preencha com pelo menos 5 caracteres",
                },
                email: {
                    email: "Seu endereço de email deve ser no formato nome@dominio.com"
                },
                telefone1: "Por favor, preencha com seu telefone",
                cpf: {
                    cpf: 'Por favor, informe um CPF válido',
                    required: "Por favor, preencha com seu CPF",
                },
                nascimento: "Por favor, preencha com a sua data de nascimento",
            },

            highlight: function (element) {
                console.log("iluminou");
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                console.log("apagou");
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

         $('form').each(function () {
            if ($(this).data('validator'))
                $(this).data('validator').settings.ignore = ".note-editor *";
        });

        $('form').submit(function (e) {
            var markupStr = $('textarea[name="observacoes"]').summernote('code');
            $('#id_observacoes').html(markupStr);
        });

        $('#id_nome').focus();
    });
</script>
{% endblock js_plugins %}